@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700');

body {
  font-family: 'League Spartan', sans-serif;
}
.font-500 {
  font-weight: 500;
}
.font-700 {
  font-weight: 700;
}

.logo-mobile {
  position: absolute;
  inset: 0;
  scale: 0.5;
  transform: translate(0%, -100%);
}

.filterable-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 3px 8px 0px 4px;
}
.filterable-btn-delete {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0px 4px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .logo-mobile {
    scale: 1;
    position: relative;
    transform: translate(0, 0);
  }
}

@media (min-width: 1280px) {
  .filterable-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 3px 10px 0px 8px;
    font-size: 18px;
  }
  .filterable-btn-delete {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px 8px;
    margin-right: 10px;
  }
}
